$_main_color: #242424;
$_main_bg_color: rgba(255, 255, 255, 0.87);
$_bg_color: #6E00FA;
$_bg_second_color: #5B00D0;
$_header_color: #6E00FA;
$_header_accent_color: red;
$--font-family: "Poppins", sans-serif;
$_second-family: "Paytone One", sans-serif;