.header-container {
  padding: 16px;
  

}
.header {
  background-color: $_bg_color;
}
.header_text {
  font-family: "Paytone One", sans-serif;
  ;
  font-weight: 600;
  font-size: 46px;
  text-align: center;
  line-height: 13px;
  letter-spacing: 0.01em;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

