.hero-section {
  padding-top: 36px;
  padding-bottom: 360px;
  padding: 20px;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.form-input {
  height: auto;
  min-height: 40px; 
  padding: 4px;
  color: #212121;
  border: 1px solid #212121;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box; 
  overflow:scroll; 
}
.clear-button,
.form-button {
  margin-top: 10px;
  align-self: flex-start;
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.form-button:hover {

  background-color: #0056b3;
}

.textContainer {
  margin-top: 26px;
  position: relative;
  padding: 26px;
  border: dashed rgb(0, 76, 255);
  width: 100%;
  box-sizing: border-box;
    white-space: pre-wrap;
      word-wrap: break-word;
}

.letter {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 46px;
  font-weight: 600;
  margin: 1px;
  padding: 1px;
}

.selection-rectangle {
  position: absolute;
  border: 2px dashed blue;
  background-color: rgba(173, 216, 230, 0.3);
}

.letter.selected {
  color: red;
}

span.letter {
  white-space: pre;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 768px) {
  .form-label {
    font-size: 0.9rem;
  }

  .form-input, .form-button {
    font-size: 0.9rem;
  }
}
